body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #EAC435;
}
.container {
    width: 1000px;
    height: 500px;
    padding: 0;
    margin: auto;
    border: black 1px solid;
}
.box {
    display: inline-block;
    flex-direction: row;
}
.first {
    width: 350px;
    background: #345995;
    padding-left: 20px;
    margin: 0;
}
.second {
    background: white;
    width: 450px;
    padding-left: 20px;
    margin: 0;
}
video {
    width: 300px;
}
.form-control, .label {
    display: block;
}
